# Dependencies
node_modules/

# Environment Variables
.env

# Sqlite3 Database Files
db/podcasts.db
db/servers.db

# Application Log File
log/application.log*

# Transpiled Application
dist

# MacOS System Files
.DS_Store
