# Environment Variables
.env.development
.env.production

# Sqlite3 Database Files
db/*.db

# Compiled Applicaiton
target

# MacOS System Files
.DS_Store

# IntelliJ
.idea

# Scripts for local development setup
dev-util/local-dev-setup.sh
