# Dependencies
node_modules/

# Environment Variables
.env

# Sqlite3 Database File
db/podcasts.db

# Application Log File
log/application.log

# Transpiled Application
dist

# MacOS System Files
.DS_Store
