[Unit]
Description=AnnounceCast Discord Bot
Documentation=https://github.com/jimlind/AnnounceCast
After=network.target

[Service]
Type=simple
Environment=NODE_VERSION=22
WorkingDirectory=/opt/AnnounceCast
ExecStart=/home/discord/.nvm/nvm-exec npm run production
User=discord
Restart=always
RestartSec=360

[Install]
WantedBy=multi-user.target