[Unit]
Description=Discord Podcasts Bot
Documentation=https://github.com/jimlind/discord.podcasts
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/app/discord.podcasts
ExecStart=npm start --prefix /opt/app/discord.podcasts
Restart=on-failure

[Install]
WantedBy=multi-user.target